<div class="container-fluid">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
        <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
            <div class="list-group border-0 card text-center text-md-left">
                <a href="od" class="list-group-item">OD</a>
                <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">UR</span> </a>
                <div class="collapse" id="menu1">
                    <a href="ur_ogv" class="list-group-item" data-parent="#menu1">OGV</a>
                    <a href="ur_oge" class="list-group-item" data-parent="#menu1">OGE</a>
                    <a href="ur_ogt" class="list-group-item" data-parent="#menu1">OGT</a>
                </div>
                <a href="#menuogx" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">OGX</span> </a>
                <div class="collapse" id="menuogx">
                    <a href="ogx_coperaciones" class="list-group-item" data-parent="#menuogx">Coperaciones</a>
                    <a href="ogx_sgd" class="list-group-item" data-parent="#menuogx">SDGs</a>
                </div> 
                <a href="#menuicx" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">IGX</span> </a>
                <div class="collapse" id="menuicx">
                    <a href="/" class="list-group-item" data-parent="#menuicx">Coperaciones</a>
                    <a href="ixc_sgd" class="list-group-item" data-parent="#menuicx">SDGs</a>
                </div> 
            </div>
        </div>
        <main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
            <a href="#" data-target="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-2x py-2 p-1"></i></a>
            <router-outlet></router-outlet>
            
        </main>
    </div>
</div>