
  <div class="">
    <div class="nav">
      <h1>DASHBOARD</h1>
      <span class="fa fa-align-left" id="button-sidebar" (click)="sidebar_click()"></span>
    </div>
    <div class="main">
      <div class="collapse width show sidebar" id="sidebar" >
        <div class="list-group border-0 card text-center text-md-left">
            <a [routerLink]="['/od']" class="list-group-item">OD</a>
            <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">UR</span> </a>
            <div class="collapse" id="menu1">
                <a [routerLink]="['/ur_ogv']" class="list-group-item" data-parent="#menu1">OGV</a>
                <a [routerLink]="['/ur_oge']" class="list-group-item" data-parent="#menu1">OGE</a>
                <a [routerLink]="['/ur_ogt']" class="list-group-item" data-parent="#menu1">OGT</a>
            </div>
            <a href="#menuogx" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">Operaciones</span> </a>
            <div class="collapse" id="menuogx">
                <a [routerLink]="['/operaciones_coperaciones']" class="list-group-item" data-parent="#menuogx">Coperaciones</a>
                <a [routerLink]="['/operaciones_sgd']" class="list-group-item" data-parent="#menuogx">SDGs</a>
            </div>
            <!--<a href="#menuicx" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">IGX</span> </a>
            <div class="collapse" id="menuicx">
                <a [routerLink]="['/']" class="list-group-item" data-parent="#menuicx">Coperaciones</a>
                <a [routerLink]="['/ixc_sgd']" class="list-group-item" data-parent="#menuicx">SDGs</a>
            </div>-->
        </div>
      </div>
      <div class="page" id="page">

        <div class="carga-contenido">
          <div class="container">
            <router-outlet></router-outlet>
          </div>
        </div>
    </div>
  </div>
