<div class="row">
	<div class="col-6">
		<div class="form-group row">
			<label for="example-password-input" class="col-2 col-form-label">Programa:</label>
			<div class="col-10">
				<select id="cmbPrograma" name="states[]" style="width:100%;">
					<option *ngFor="let programa of lstPrograma" value="{{programa.id}}">{{programa.name}}</option>
				</select>
			</div>	
		</div>
	</div>

	<div class='col-sm-6'>
		<div class="form-group row">
			<label for="example-password-input" class="col-2 col-form-label">Semana Inicial:</label>
			<div class="col-10">
				<select id="cmbFechaInicial" name="states[]" style="width:100%;">
					<option *ngFor="let weeklyInicial of lstWeeklyInicial" value="{{weeklyInicial.init_date}}">{{weeklyInicial.name}}</option>
				</select>
			</div>
		</div>
	</div>

	<div class='col-sm-6'>
		<div class="form-group row">
			<label for="example-password-input" class="col-2 col-form-label">Semana Final:</label>
			<div class="col-10">
				<select id="cmbFechaFinal" name="states[]" style="width:100%;">
					<option *ngFor="let weeklyInicial of lstWeeklyInicial" value="{{weeklyInicial.final_date}}">{{weeklyInicial.name}}</option>
				</select>
			</div>
		</div>
	</div>
</div>
<div class="container"> 
	<div class="row">
		<div class="col-sm-12">
			<button type="button" (click)="btnConsultarClick()" class="btn btn-primary btn-lg">Consultar</button>
		</div>
		<hr>
	
		<div class="col-12">
			<table class="" id="tblComites">
				<thead>
					<tr>
						<th  style="background-color:#32760B; text-align: center;" rowspan="2">Entidad</th>
						<th  colspan="6" style="background-color:rgb(164, 179, 99); text-align: center;" >APPLICANT</th>
						<th  colspan="6" style="background-color:rgb(154, 25, 194); text-align: center;" >ACCEPTED</th>
						<th  colspan="6" style="background-color:rgb(63, 59, 117); text-align: center;" >APPROVED</th>
						<th  colspan="6" style="background-color:rgb(173, 56, 101); text-align: center;">REALIZED</th>
						<th  colspan="6" style="background-color:rgb(141, 48, 113); text-align: center;">COMPLETED</th>
					</tr>
					<tr>
						<td style="background-color:rgb(164, 179, 99); text-align: center;" >PLAN</td>
						<td  style="background-color:rgb(164, 179, 99); text-align: center;">CUMPLIDO</td>
						<td  style="background-color:rgb(164, 179, 99); text-align: center;">%CUMPLIMIENTO</td>
						<td  style="background-color:rgb(164, 179, 99); text-align: center;">GAP</td>
						<td  style="background-color:rgb(164, 179, 99); text-align: center;">CREC ABS</td>
						<td  style="background-color:rgb(164, 179, 99); text-align: center;">CREC REL</td>

						<td style="background-color:rgb(154, 25, 194); text-align: center;">PLAN</td>
						<td style="background-color:rgb(154, 25, 194); text-align: center;">CUMPLIDO</td>
						<td style="background-color:rgb(154, 25, 194); text-align: center;">%CUMPLIMIENTO</td>
						<td style="background-color:rgb(154, 25, 194); text-align: center;">GAP</td>
						<td style="background-color:rgb(154, 25, 194); text-align: center;">CREC ABS</td>
						<td style="background-color:rgb(154, 25, 194); text-align: center;">CREC REL</td>

						<td style="background-color:rgb(63, 59, 117); text-align: center;">PLAN</td>
						<td style="background-color:rgb(63, 59, 117); text-align: center;">CUMPLIDO</td>
						<td style="background-color:rgb(63, 59, 117); text-align: center;">%CUMPLIMIENTO</td>
						<td style="background-color:rgb(63, 59, 117); text-align: center;">GAP</td>
						<td style="background-color:rgb(63, 59, 117); text-align: center;">CREC ABS</td>
						<td style="background-color:rgb(63, 59, 117); text-align: center;">CREC REL</td>

						<td style="background-color:rgb(173, 56, 101); text-align: center;">PLAN</td>
						<td style="background-color:rgb(173, 56, 101); text-align: center;">CUMPLIDO</td>
						<td style="background-color:rgb(173, 56, 101); text-align: center;">%CUMPLIMIENTO</td>
						<td style="background-color:rgb(173, 56, 101); text-align: center;">GAP</td>
						<td style="background-color:rgb(173, 56, 101); text-align: center;">CREC ABS</td>
						<td style="background-color:rgb(173, 56, 101); text-align: center;">CREC REL</td>

						<td style="background-color:rgb(141, 48, 113); text-align: center;">PLAN</td>
						<td style="background-color:rgb(141, 48, 113); text-align: center;">CUMPLIDO</td>
						<td style="background-color:rgb(141, 48, 113); text-align: center;">%CUMPLIMIENTO</td>
						<td style="background-color:rgb(141, 48, 113); text-align: center;">GAP</td>
						<td style="background-color:rgb(141, 48, 113); text-align: center;">CREC ABS</td>
						<td style="background-color:rgb(141, 48, 113); text-align: center;">CREC REL</td>
					</tr>
				</thead>
				<tbody>
						
				</tbody>
			</table>
		</div>
	</div>
</div>
